## FUNCTIONS

### Count occurances on the list

In [19]:
def zliczanie(input_list):
    unique_list = list(set(input_list))
    results = {}
    for n in range(len(unique_list)):
        results[unique_list[n]] = input_list.count(unique_list[n])
    return results

In [20]:
aa = [1,2,3,4,5,6,2,3,4,12,3,5]

In [21]:
zliczanie(aa)

{1: 1, 2: 2, 3: 3, 4: 2, 5: 2, 6: 1, 12: 1}

### Building Christmas Tree

In [48]:
def choinka(n):
    i = 1
    for level in range(n+1):
        string = ' '*(n-level) + '*'*i + ' '*(n-level)
        print(string)
        i += 2
    print(' '*(level) + '*' + ' '*(level))
    print(' '*(level-1) + '***' + ' '*(level-1))

In [50]:
choinka(20)

                    *
                   ***
                  *****
                 *******
                *********
               ***********
              *************
             ***************
            *****************
           *******************
          *********************
         ***********************
        *************************
       ***************************
      *****************************
     *******************************
    *********************************
   ***********************************
  *************************************
 ***************************************
*****************************************
                    *
                   ***

### Translate number to a text [in PL]

In [65]:
def slownik_liczb(n):
    n = str(n)
    dict_1 = {0:'',1:'jeden',2:'dwa',3:'trzy',4:'cztery',5:'pięć',6:'sześć',7:'siedem',8:'osiem',9:'dziewięć'}
    dict_2 = {0:'dziesięć',1:'jedenaście',2:'dwanaście',3:'trzynaście',4:'czternaście',5:'piętnaście',6:'szesnaście',\
             7:'siedemnaście',8:'osiemnaście',9:'dziewiętnaście'}
    dict_3 = {2:'dwadzieścia',3:'trzydzieści',4:'czterdzieści',5:'pięćdziesiąt',6:'sześćdziesiąt',\
             7: 'siedemdziesiąt',8: 'osiemdziesiąt',9:'dziewięćdziesiąt'}
    dict_4 = {1:'sto',2:'dwieście',3:'trzysta',4:'czterysta',5:'pięćset',6:'sześćset',7:'siedemset',8:'osiemset',9:'dziewięćset'}
    if int(n) in range(0,1000):
        if len(n) == 1:
            value = dict_1[int(n)]
        elif len(n) == 2:
            if int(n[0]) == 1:
                value = dict_2[int(n[1])]
            else:
                value = dict_3[int(n[0])] + ' ' + dict_1[int(n[1])]
        elif len(n) == 3:
            value = dict_4[int(n[0])] + ' '
            if int(n[1]) == 1:
                value += dict_2[int(n[1])]
            elif int(n[1]) == 0:
                value += dict_1[int(n[2])]
            else:
                value += dict_3[int(n[1])] + ' ' + dict_1[int(n[2])]
                
    else:
        print('Number not in range 0-999')
        
    return value

In [66]:
slownik_liczb(100)

'sto '